<link href="bootstrap.css" rel="stylesheet"/>

{{date}}<br>
<h1 class="text-center" style="text-center" >Regular Table</h1>
<hr>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-9">
   <table class="table table-striped border">
    <tbody>
        <tr>
            <td></td>
            <td>{{lessor_1}}</td>
            <td></td>
            <td>{{lessor_2}}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>{{lessor_id_1}}</td>
            <td></td>
            <td>{{lessor_id_2}}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>{{lessor_phone_1}}</td>
            <td></td>
            <td>{{lessor_phone_2}}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>{{lessor_email_1}}</td>
            <td></td>
            <td>{{lessor_email_2}}</td>
            <td></td>
        </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>




<br><br><br><br><br>
<!--
{{lessee_1}}
{{lessee_id_1}}
{{lessee_phone_1}}
{{lessee_email_1}}
{{lessee_2}}
{{lessee_id_2}}
{{lessee_phone_2}}
{{lessee_email_2}}
{{number_of_occupants}}
{{number_of_pets}}
{{prefix}}
{{commence_date}}
{{duration_of_agreement}}
{{termination_date}}
{{deposit}}
{{lessor_place}}
{{lessor_phone_1}}
{{lessee_phone_2}}
{{lessee_place}}
{{lessee_phone_1}}
{{lessee_phone_2}}
{{witness}}
{{witness_place}}
{{witness_phone}}

-->
